.user-table {
	border-collapse: collapse;
	width: 100%;
}

.user-table th,
.user-table td {
	padding: 10px; /* Adjust the amount of space as needed */
	border: 1px solid #ddd;
	text-align: left;
}

.user-cell {
	padding: 10px; /* Adjust the amount of space as needed */
}
